body {position:relative; z-index:1;} body::before {position:absolute; z-index:-1; top:0; left:0; right:0; bottom:0; content:''; background: url(http://dl.dropbox.com/u/6172144/child-bg.jpg) 50% top repeat-y;} article h1, .meta {display:none;} article p {color: #313131; font-family:'AntonRegular', sans serif; line-height: .1em;} #page-header{background: none;} figure {text-align:center;}.dont, .his {text-align: right; font-size: 800%; text-transform: uppercase; margin-right: -2% !important; height: 0 !important;} .spoil, .future {font-size: 800%;text-transform: uppercase; color:#fff;height: 0 !important;} article img{margin: 20px 0 120px;} .abolish{ font-size: 1.777em;padding-bottom:50px;} sup {font-size: .333em; font-family:'ChaparralProRegular', serif; color:#fff;} @media screen and (max-width:800px){.dont, .his, .spoil, .future {font-size: 450%;}.abolish{ font-size: 100%;}} a {color: hsla(15, 63%, 75%, 1.0);} a:hover {color: hsla(15, 63%, 75%, .6);} .prefix_6a {padding-left: 52.0%;} @media screen and (max-width:480px) { sup {display:none;} .prefix_6b {padding-left: 52%;} .dont, .his, .spoil, .future {font-size: 220%;} }
@font-face {
    font-family: 'AntonRegular';
    src: url('/fonts/anton-webfont.eot');
    src: url('/fonts/anton-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/anton-webfont.woff') format('woff'),
         url('/fonts/anton-webfont.ttf') format('truetype'),
         url('/fonts/anton-webfont.svg#AntonRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

