section, header, hgroup, footer, article, nav
{
	display: block;
}
*
{
	margin: 0;
	padding: 0;
}
::-moz-selection 
{ 
	background: #F05; color: #fff; text-shadow: none; 
}
::selection 
{ 
	background: #F05; color: #fff; text-shadow: none; 
}
body
{
	background: hsla(0, 0%, 100%, 1);
	border-top: 8px solid #000;
	color:  hsla(0, 0%, 20%, 1);
	font-family: 'FontinSansRegular', sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
h1, h2, h3, h4, h5, h6
{
	font-weight: 400;
}
p, ul, ol, pre
{
	margin-bottom: .833em;
	list-style: none;
}
#wrap
{
	margin: 0 auto;
}
#page-header
{
	height: 8em;
	position: relative;
	text-transform: uppercase;
	background: url(/beta/images/line.png)bottom left repeat-x; 
}
#page-header h1 a
{
	background: transparent url(/beta/images/logo.png) no-repeat;
	text-indent: -9999px;
	height: 100px;
	width: 100px;
	position: absolute;
	top: .6em;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
#page-header h1 a:hover
{
	opacity: .5;
}
.menu
{
	margin-top: 3.4em;
	text-align: center;
	letter-spacing: 1px;
	font-size: 90%;
}
a
{
	color: hsla(0, 0%, 40%, 1);
	text-decoration: none;
	outline:none;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;	
	transition: all .5s ease-out;
}
a:hover
{
	color: hsla(0, 0%, 40%, .5);
}
a img
{
	border: none;
}
article img 
{
	width: 100%;
	height: auto;
	max-width: 100%;
	-ms-interpolation-mode: bicubic;
}
article
{
	background: transparent;
}
article::after
{
	clear: both;
	content: '';
	display: block;
	height: 0;
	visibility: hidden;
}
article h1
{
	color: hsla(0, 0%, 53%, 1);
	font-size: 140%;
	line-height: 1;
	margin: 1em 0 .1em;
	width: 100%;
}
article .content
{
	padding-top: 25px;
}
.tipsy 
{ 
	font-size: 12px; 
	position: absolute; 
	padding: 5px; 
	z-index: 100000; 
}
.tipsy-inner 
{ 
	background-color: #000; 
	color: #fff; 
	font-weight: bold; 
	max-width: 200px; 
	padding: 5px 8px 4px 8px; 
	text-align: center; 
}
.tipsy-inner 
{ 
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
}
.tipsy-arrow 
{ 
	position: absolute; 
	width: 0; 
	height: 0; 
	line-height: 0; 
	border: 5px dashed #000; 
}
.tipsy-arrow-s { border-top-color: #000; }
.tipsy-arrow-e { border-left-color: #000; }
.tipsy-arrow-w { border-right-color: #000; }
  
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }
.flickr {margin: 10px 0 0 -10px;}
.flickr img:hover { opacity:.8;}
.flickr img{ float: left; margin: 10px; padding:3px; background: #eee; display:block;-webkit-transition: all .5s ease-out;-moz-transition: all .5s ease-out;-o-transition: all .5s ease-out;-ms-transition: all .5s ease-out;transition: all .5s ease-out;}
#meta 
{
	background: #222; 
	margin-top: 4em; 
	padding: 1em 0; 
	color:#999; 
	font-size:.777em; 
	text-align:center;
}
#pagination a
{
	position: fixed;
	top: 50%;
	width: 80px;
	height: 80px;
	text-indent: -9999px;
	background: url(/beta/images/next80.png) no-repeat;
	overflow: hidden;
	opacity: .3; 
	margin: 0 5px 0 0;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	z-index: 9;
}
#pagination a.previous
{
	background: url(/beta/images/previous80.png) no-repeat;
	left: 5px;
}
#pagination a.next
{
	right: 0;
}
#pagination a:hover
{
	opacity: 1;
}
#site-footer
{
	background: #000;
}
#footer-body
{
	padding: 20px 0 30px;
}
#footer-body h1
{
	font-size: 133%;
	color: #ccc;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 100; margin-top:30px;
}
#footer-body p, .tweet_list li
{
	font-size: 72.222%;
	color: #999;
	line-height: 1.8;
	margin-top: 20px;
}
.tweet_list .tweet_time
{
	font-size: 85%;
}
#site-footer a
{
	font-weight: 600;
}
.widget-left
{
	float:left;
	width: 60%;
}
.widget-right
{
	float: right;
	width: 32.333%;
}
#powered
{
	margin-bottom: -50px !important;
	border-top: 2px solid #262626; 
	position: relative;
	display: block;
}
#powered p
{
	padding: 20px 0 50px;
	color: #ccc;
	font-size: .722em;
}
.follow-me
{
	position: absolute;
	background: url(/beta/images/follow.png) no-repeat;
	overflow: hidden;
	bottom: 75px;
	right: -5px;
	display: block;
	text-indent: -9999px;
	width: 250px;
	height: 143px;
	border: none !important;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	opacity: .6;
}
.follow-me:hover
{
	opacity: 1;
}
@font-face {
    font-family: 'FontinSansRegular';
    src: url('/beta/fonts/fontin_sans_r_45b-webfont.eot');
    src: url('/beta/fonts/fontin_sans_r_45b-webfont.eot?#iefix') format('embedded-opentype'),
         url('/beta/fonts/fontin_sans_r_45b-webfont.woff') format('woff'),
         url('/beta/fonts/fontin_sans_r_45b-webfont.ttf') format('truetype'),
         url('/beta/fonts/fontin_sans_r_45b-webfont.svg#FontinSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChaparralProRegular';
    src: url('/beta/fonts/chaparral_pro_regular-webfont.eot');
    src: url('/beta/fonts/chaparral_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/beta/fonts/chaparral_pro_regular-webfont.woff') format('woff'),
         url('/beta/fonts/chaparral_pro_regular-webfont.ttf') format('truetype'),
         url('/beta/fonts/chaparral_pro_regular-webfont.svg#ChaparralProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@media screen and (max-width: 1000px){h1#flckr, .flickr {display:none !important;}.follow-me {display: none;}}
@media screen and (max-width: 780px)
{
	.widget-left
		{
		width: auto !important;
		margin-bottom: 20px !important;
		}
	.widget-right
		{
		float: none !important;
		width: auto !important;
		}
	.alpha
		{
		right: 0 !important;
		}
	.omega
		{
		left: 0 !important;
		}
}
@media screen and (max-width: 480px)
{
	#page-header
	{
	height: 6em;
	}
	#page-header h1 a
	{
	background: transparent url(/beta/images/logo64.png) no-repeat;
	height: 64px;
	width: 64px;
	}
	.menu
	{
	margin-top: 11%;
	font-size: 70%;
	}
}
@media screen and (max-width: 320px)
{
	.menu
	{
	margin-top: 15%;
	font-size: 60%;
	}	
}
body, img
{ 
	transition:all .5s linear; 
	-o-transition:all .5s linear; 
	-moz-transition:all .5s linear; 
	-webkit-transition:all .5s linear;
}
